@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');



* {box-sizing: border-box}

/* style the container */
.Login-container {
  position: relative;
  background-color: #f2f2f2;
  
  
 
}


.header-container {
  margin-top: 20px;
  padding: 40px 50px 100px 50px;
  position: absolute;
  width: 40vw;
  left: 30%;
  right: 30%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.bck-btn span {
  font-size: 25px;
  margin-top: 10px;
  color: rgba(25, 115, 167, 1);

}


.header-container .header2 p {
  font-size: 14px;
  padding: 5px 0;

}

.input-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  

}

input[type=text], input[type=password] {
  outline: auto;
  border-radius: 30px;
  font-size: smaller;
  
  

}

input[type=text]:hover {
  background-color: rgba(128, 128, 128, 0.151); 
  

}

input[type=password]:hover {
  background-color: rgba(128, 128, 128, 0.151); 
  

}


.Login-container  a {
  color: black;


}
/*
.RemembrNForgt-box {
  display: flex;
  flex-direction: row;
 

}*/

.RemembrNForgt-box .Remembr-me {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*gap: 1px;
  font-size: small;
  padding-top: 7px;*/

}

.RemembrNForgt-box .Remembr-me p {
  /*float: left;*/
  font-size: small;
  padding-top: 7px;

}


.RemembrNForgt-box .Forgot-pw {
  float: right;

}


.bottom-container input[type=submit] {
  margin-top: 20px;
  width: 100%;
}

.bottom-container input[type=submit]:hover {
  background-color: rgba(255, 154, 0, 1);
}




.bottom-container {
  width: 100%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
 
  
}


.bottom-container a {
    text-decoration: underline;
    color: rgba(255, 154, 0, 1);
    font-size: large;
}


.bottom-container a:hover{
  text-decoration: underline;
  color: rgba(25, 115, 167, 1);
  font-size: larger;
}


.bottom-container p {
  font-size: small;
  }
  


/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  
.header-container {
    margin-top: 20px;
    padding: 25px 50px 100px 50px;
    position: absolute;
    width: 80vw;
    left: 10%;
    right: 10%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
    
  }